* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
}

body {
   width: 100vw;
   height: 100vh;
   background:#1066d6d0;
}

header {
      background-color: #333;
      color: #fff;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      height: 10%;
}

.logo {
   width: 50%;
   display: flex;
   align-items: center;
}

.logo img {
   width: 60px;
   height: 60px;
   margin-left: 10px;
}

.logo h1 {
   padding: 10px;
}

/* MENU */ 

nav {
   grid-column-start: 3;
   grid-column-end: 4;
   display: flex;
   align-items: center;
   justify-content: center;
}

.menuButton {
   background-color: #1066d6;
   border: none;
   color: #fff;
   padding: 10px 20px;
   cursor: pointer;
   width: 250px;
   height: 50px;
   font-size: 20px;
   text-transform: uppercase;
}

.menu {
   position: relative;
}

.menu-items {
   display: none;
   position: absolute;
   top: 90%;
   background-color: #1066d6;
   list-style: none;
   padding: 0;
   width: 250px;
}

.menu-items li {
   height: 50px;
   width: 100%;
   text-align: center;
}

.menu-items li a {
   color: #333;
   text-decoration: none;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
}

.menu-items li:hover {
   background-color: #fff;
   color: #1066d6;
}

.show-menu-items {
   z-index: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

/* MENU */ 

main {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 80px 50px 320px 100px;
}

.search {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   height: 60%;
   position: relative;
}

.search input {
   width: 40%;
   height: 40px;
   border-radius: 5px 0 0 5px;
   border: 2px solid black;
   padding: 10px;
   font-size: 20px;
}

.search input:focus {
   outline: none;
}

.search button {
   height: 40px;
   width: 70px;
   border-radius: 0 5px 5px 0;
   border: 2px solid black;
   border-left: none;
   cursor: pointer;
}

.searchButton:active {
   background-color: #1066d6;
   color: #fff;
}

.search img {
   width: 20px;
   height: 20px;
}

.sugestoesDiv {
   width: 100%;
   position: absolute;
   top: 100%;
   left: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.sugestoes {
   list-style: none;
   padding: 0;
   width: 40%;
}

.sugestoes li {
   height: 50px;
   width: 100%;
   padding: 10px;
   display: flex;
   background: #fff;
   border: 2px solid #000;
   border-top: none;
   align-items: center;
   border-radius: 0 0 5px 5px;
   cursor: pointer;
}

form {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.city {
   text-align: center;
}

.city h1 {
   text-transform: uppercase;
}

/* CARDS */

.cards {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 3;
   grid-row-end: 4;
   height: 100%;
   width: 100%;
}

.card {
   width: 200px;
   height: 300px;
   border: 1px solid #ccc;
   padding: 10px;
   text-align: center;
   border-radius: 10px;
   background: #1F2E54;
   font-weight: bold;
   color: #6E85C1;
}

.card h3 {
   color: #B7BCC8;
}

.city-name {
   font-size: 18px;
   margin-top: 10px;
}

.temperaturaAtual {
   font-size: 24px;
   margin-top: 20px;
}

.condicao {
   font-size: 16px;
   margin-top: 10px;
}

.probabilidadeChuva {
   font-size: 14px;
   margin-top: 10px;
}

.listaTemperatura {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.temperatureMax,
.temperatureMin {
   width: calc(50% - 10px);
}

.label {
   font-size: 14px;
   margin-bottom: 5px;
}

.value {
   font-size: 18px;
}

/* CARDS */



/* MEDIA QUERIES */
/* 
@media (max-width: 600px) {
   .search {
      flex-direction: column;
   }

   .search input {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
   }

   .sugestoesDiv {
      width: 100%;
      left: 0;
   }

      body,
   header,
   main,
   footer {
      margin: 0;
      padding: 0;
   }

   /* Alinhar o conteúdo centralizado verticalmente 
   body {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   /* Estilos para o cabeçalho (header) 
   header {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
   }

   .logo {
      display: flex;
      align-items: center;
      gap: 10px;
   }

   .logo img {
      width: 40px;
      height: 40px;
   }

   .logo h1 {
      font-size: 18px;
      margin: 0;
   }

   .menu {
      display: none;
   }

   .menuButton {
      display: none;
   }

   .menu-items {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #1066d6;
      list-style: none;
      padding: 0;
      margin: 0;
   }

   .menu-items li {
      height: 40px;
      width: 100%;
      text-align: center;
   }

   .menu-items li a {
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
   }

   /* Estilos para o formulário de pesquisa (search) 
   .search {
      width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .search input {
      width: 100%;
   }

   .search button {
      width: 100%;
   }

   .sugestoesDiv {
      width: 100%;
      position: relative;
      top: 100%;
      left: 0;
      transform: translateY(10px);
   }

   /* Estilos para os cards 
   .cards {
      justify-content: flex-start;
   }

   .card {
      width: 100%;
      margin-bottom: 20px;
   }

   /* Estilos para os elementos dos cards 
   .city-name {
      font-size: 16px;
      margin-top: 10px;
   }

   .temperaturaAtual {
      font-size: 20px;
      margin-top: 20px;
   }

   .condicao {
      font-size: 14px;
      margin-top: 10px;
   }

   .probabilidadeChuva {
      font-size: 12px;
      margin-top: 10px;
   }

   .listaTemperatura {
      flex-wrap: wrap;
      margin-top: 20px;
   }

   .temperatureMax,
   .temperatureMin {
      width: 50%;
      margin-bottom: 10px;
   }
}

@media screen and (max-width: 500px) {
   .search {
      padding: 5px;
   }

   .search input {
      font-size: 16px;
   }

   .search button {
      font-size: 16px;
   }

   .sugestoesDiv {
      width: 100%;
      top: 100%;
      left: 0;
      transform: translateY(5px);
   }

   .card {
      margin-bottom: 10px;
   }

   .city-name {
      font-size: 14px;
      margin-top: 5px;
   }

   .temperaturaAtual {
      font-size: 18px;
      margin-top: 10px;
   }

   .condicao {
      font-size: 12px;
      margin-top: 5px;
   }

   .probabilidadeChuva {
      font-size: 10px;
      margin-top: 5px;
   }

   .listaTemperatura {
      margin-top: 10px;
   }

   .temperatureMax,
   .temperatureMin {
      width: 100%;
      margin-bottom: 5px;
   }
}
 */